@import url('https://fonts.googleapis.com/css?family=Acme|Source+Sans+Pro&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}